html {
    margin-left: 0;
    margin-right: 0;
    text-align: center !important;
    box-sizing: border-box;
}

/* ------------ Welcome Page ------------ */

body {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffffc7;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

#show{
    /*background-image: url('../images/welcome.jpg');*/
    color: #ffffffc7;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show h1{
    font-size: 50px;
}

#show p{
    font-size: 20px;
}


/* ------------ Splash screen ------------ */
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ffffff;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0.3;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;    
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 1s;
}


/* ------------ Configuration Page ------------*/
#Configuration{
    position: relative;
    top: 250%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.config_buttom{
    position: relative;
    top: 450%;
}

.watchlistForm {
    width: 15% !important;
    margin: auto;
    font-size: 20px;
}

.watchlistSelection {
    width: 100%;
    position: absolute;
    top: 350px;
}



/* ------------ watchlist item ------------ */
.watchlist-cart{
    margin: 80px auto;
}

.watchlist-cart table{
    width: 100%;
    border-collapse: collapse;
}

.watchlist-cart th{
    color: rgb(255, 255, 255);
    background: #8ff5e4;
    font-weight: normal;
}

.watchlist-cart td{
    text-align: center;
}
