@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    margin-left: 0;
    margin-right: 0;
    text-align: center !important;
    box-sizing: border-box;
}

/* ------------ Welcome Page ------------ */

body {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
    /* font-family: 'Open Sans', sans-serif; */
    color: #ffffffc7;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

#show{
    /*background-image: url('../images/welcome.jpg');*/
    color: #ffffffc7;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab";
}

#show h1{
    font-size: 50px;
    color: rgb(75, 192, 192);
    padding-bottom: 1vh;
}

#show p{
    font-size: 20px;
    padding-bottom: 1vh;
}

#show h2{
    font-size: 20px;
    color:#30303079;
    position: fixed;
    top: 800px;
    padding-bottom: 1vh;
}

.auth {
    position: absolute;
    top: 25px;
    right: 1px;
    width: 20%;
}

/* ------------ Configuration Page ------------*/
#Configuration{
    position: relative;
    top: 270%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    line-height: 2.0;
}

#Configuration p1{
    font-size: 35px;
}

#Configuration p2{
    font-size: 20px;
    color:#838282a9;
    position: relative;
    top: 15px;
}

.config_buttom{
    position: relative;
    top: 480%;
    width: 100%;
}

.watchlistForm {
    width: 15% !important;
    margin: auto;
    font-size: 20px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(75, 192, 192);
    border: 6px solid transparent;
    border-color: rgb(75, 192, 192) transparent transparent transparent;
    margin-bottom: 3vh;
}

.watchlistForm select {
    display: none;
    overflow-y: auto;
}

.watchlistSelection {
    width: 100%;
    position: relative;
    top: 310px;
}


/* ------------ watchlist item ------------ */
.watchlist-cart{
    margin: 80px auto;
}

.watchlist-cart table{
    width: 100%;
    border-collapse: collapse;
}

.watchlist-cart th{
    color: rgb(18, 27, 27);
    font-weight: bold;
    background: #e4dddd;
    font-weight: normal;
}

.watchlist-cart td{
    color: #ffffff;
    text-align: center;
}

a:link #item-link {
    color: white !important;
    text-decoration: none !important;
}

a:visited #item-link {
    color: white !important;
    text-decoration: none !important;
}

a:hover #item-link {
    color: rgb(206, 203, 203) !important;
    text-decoration: none !important;
}

#lineChart {
    margin: auto;
    margin-top: 10vh;
}

#data_head h1 {
    font-size: 40px;
    display: flex;
    position: relative;
    top: 55px;
    font-size: 60px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    /* color:#ffffff; */
}

#data_head p{
    position: relative;
    top: 60px;
    color:#838282;
    padding-bottom: 5vh;
}

.table-header {
    margin-top: 10vh;
    padding-bottom: 5px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background-color:navy;
    color: rgb(75, 192, 192);
}

.table-header th {
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background-color:rgb(75, 192, 192);
    color: black;
    /* color: rgb(75, 192, 192); */
}

.table-body {
    padding-top: 20px;
    margin-top: 20px;
}

/* ------------ graph ------------ */
.graph_title{
    position: relative;
    top: 55px;
}

#graph_btn{
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

.about-title {
    font-family: 'Roboto Slab';
    padding: 3vh;
    color: rgb(75, 192, 192);
}

.watchlist-title {
    font-family: 'Roboto Slab';
    /* padding: 3vh; */
    color: rgb(75, 192, 192);
}

.graph-title {
    font-family: 'Roboto Slab';
    padding-bottom: 6vh;
    color: rgb(75, 192, 192);
    font-size: 60px;
}

.signup-title {
    font-family: 'Roboto Slab';
    padding-top: 3vh;
    color: rgb(75, 192, 192);
}

.signin-title {
    font-family: 'Roboto Slab';
    padding-top: 3vh;
    color: rgb(75, 192, 192);
}
