<!-- Configuration Page -->
<!DOCTYPE html>
<html lang="en">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <h1>Configuration page</h1>
    </head>
    <body>
        <p>Here is the configuration page.</p>
        <p>Hold down the Ctrl (windows) / 
            Command (Mac) button to select multiple options.</p>
            
        <form class="watchlistSelection" action="data-summary" method="POST">  
            <select class="watchlistForm" type="text" name="itemDropdown" placeholder="Select items to watch" multiple>
                 <!--<option disabled selected>Select items</option>-->
                 <option name="Corn" value="Corn">Corn</option>
                 <option name="Oats" value="Oats">Oats</option>
                 <option name="Wheat" value="Wheat">Wheat</option>
                 <option name="Soybean" value="Soybean">Soybean</option>
                 <option name="Dairy" value="Dairy">Dairy</option>
            </select> 
            <br>
            <input class="btn btn-outline-info" href='/data-summary/' type="submit" value="Save configuration">
         </form>

        <!--<a class="btn btn-outline-info" href='/data-summary/' role='button'>Save configuration</a>-->
    </body>
</html>