<!-- Data Summary Page -->
<!DOCTYPE html>
<html>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <h1>Data Summary page</h1>
    </head>
    
    <body>
    <!---------watchlist items details--------->
    <div class="watchlist-cart">
        <table>
            <tr>
                <th>Item</th>
                <th>Current price</th>
                <th>Change in value</th>
            </tr>
            {% for opt in options %}
            <tr>
                <!-- if need to add links for each item in the future --> 
                <!-- <a href="url_for('opt',name=1)">{{ opt }}</a> -->
                <!--Item-->
                <td>{{ opt }}</td>
                <!--Current price-->
                <td>$50.00</td>
                <!--Change in value-->
                <td>20.00%</td>   
            </tr>
            {% endfor %}
        </table>
    </div>
        <a class="btn btn-outline-info" href='/' role='button'>Return to welcome</a>
        <a class="btn btn-outline-info" href='/config' role='button'>Return to configuration</a>
    </body>
</html>