<!-- Data Summary Page -->
<!DOCTYPE html>
<html lang="en">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!---------watchlist items details--------->
    <header id="data_head">
        <h1>WATCHLIST</h1>
        <p> *Click on the item's name to see a detailed graph of its price change* </p>
    </header>
    <div class="watchlist-cart">
        <table>
            <tr>
                <th>ITEM</th>
                <th>CURRENT PRICE</th>
                <th>CHANGE IN VALUE</th>
            </tr>
            {% for item in prices_dict %}
            <tr>
                <!--Item-->
                <td><a class="item-link" href="{{ url_for('detailed_data_page', item=item) }}">{{ item }}</a></td>
                <!--Current price-->
                <td>${{ prices_dict[item][0] }} </td>
                <!--Change in value-->
                <td>{{ prices_dict[item][1] }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a class="btn btn-outline-info" href='/' role='button'>Home</a>
    <a class="btn btn-outline-info" href='/config' role='button'>Select again</a>
</body>

</html>