<!-- Detailed Data Page -->
<!DOCTYPE html>
<html lang="en">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="../static/css/style.css">
        <div class = "graph_title">
        <h1> Tracking Graph for {{ item }} </h1>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>

    <body>
        <canvas id="lineChart" width="900" height="400"></canvas>
        <script>
            var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{ labels | safe }},
                    datasets: [
                        {
                            label: "{{ item | safe }}",
                            data: {{ values | safe }},
                            fill: false,
                            borderColor: "rgb(75, 192, 192)",
                            lineTension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Price'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            }
                        }]
                    }
                }
            });
        </script>

        <header id="graph_btn">
        <a class="btn btn-outline-info" href='/' role='button'>Home</a>
        <a class="btn btn-outline-info" href='/data-summary' role='button'> Back to Watchlist </a>
        <a class="btn btn-outline-info" href='/config' role='button'>Select Again</a>
        </header>
    </body>
</html>