<!-- Welcome Page -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Inflow</title>
</head>

<body>

    <header id="show">

        <div class = "auth">
            <a class="btn btn-outline-info" href='/info' role='button'> About </a>
            <a class="btn btn-outline-info" href='/config' role='button'> Sign in </a>
            <a class="btn btn-outline-info" href='/config' role='button'> Sign up </a>
        </div>

        <h1>Welcome to Inflow</h1>
        <p>We can help you keep track of prices that have changed due to current inflation.</p>
        <a class="btn btn-outline-info" href='/config' role='button'>Get started!</a>
        <h2> SPS 2022 Team 48 = Natalie Volk + Shamvi Punja + Jinyu Gan + Maisha Thasin </h2>
    </header>

</body>
</html>