<!-- Welcome Page -->
<!DOCTYPE html>
<html lang="en">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <h1>Welcome to our Inflation-Tracking app</h1>
    </head>
    <body>
        <p></p>

        <br>
    
        <a class="btn btn-outline-info" href='/config' role='button'>Get started as a Guest!</a>
        <a class="btn btn-outline-info" href='/info' role='button'>About</a>
        <br><br>
        <a  class="btn btn-outline-info" href="{{ url_for('login') }}">Sign In</a>
        <br>
        <a class="btn btn-outline-info"  href="{{ url_for('register') }}">Sign Up</a><br>
    </body>
</html>