<!-- Welcome Page -->
<!DOCTYPE html>
<html lang="en">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1>About [NAME]</h1>
</head>

<body>
    <div id="about-app">
        <p><br>
            <b>Annual inflation in the United States was over 9% in June 2022. </b><br><br>
            This is the highest level of inflation since 1981. <br><br>
            With prices of everyday goods skyrocketing, you need to know what items are being most affected
            -- so that you know what to buy and what to avoid. <br>
            [NAME] is a tool that allows you to select what common household items are important to you,
            add them to your watchlist, and track how their prices are changing. <br><br>
            <b>With [NAME], we're enabling everyone to stay in charge of their money.</b><br><br>

            Note: The source for all the price data for this app is<a href="https://www.commodities-api.com/">
                commodities-api.</a><br><br>
        </p>

    </div>
    <!-- TO BE ADDED POSSIBLY -->
    <!-- <div id="about-team">
            <h3>Meet the team!</h3>
            <p></p>
        </div> -->
    <div>
        <a class="btn btn-outline-info" href='/' role='button'>Home</a>
    </div>
</body>

</html>